RewriteEngine On
RewriteBase /testquest

Redirect /testquest/users.json /testquest/php/index.php
Redirect /testquest/model/json.php /testquest/php/index.php

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . php/index.php